<p>
	<strong>Title: </strong>
	<%= @post.title %>
</p>

<p>
	<strong>Content:</strong>
	<%= @post.content %>
</p>

<!-- list all comments -->

<% if @post.comments.present? %>
  <% @post.comments.each do |comment| %>
    <p><%= comment.content %></p>
  <% end %>
<% end %>

<%= render 'comments/comments' %>